In [1]:
import numpy as np
import pandas as pd

#from head import head
#help(head)

In [2]:
df = pd.read_csv("television.txt", sep="\t")
df

,POIDLOG,POIDSF,cLT1FREQ,cLT2FREQ,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,0.889422,4766.865201,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.310209,12381.589746,30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.740070,14685.431344,6,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.775545,9516.049939,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.732512,3925.907588,3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8398,0.306852,1644.574141,6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,2.501181,13405.104689,6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,1.382758,7410.905653,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,0.343340,1840.132652,3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8402,1.088486,5833.750895,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(8403, 32)

In [6]:
df.dropna?
df.drop?

pd.Series.unique?

df.to_excel?
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/louishayot/miniconda3/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /Users/louishayot/miniconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [8]:
df = pd.read_csv("television.txt", sep="\t")
df.shape

(8403, 32)

In [9]:
df.dropna?

In [11]:
df.dropna(how='all', axis=1, inplace=True)
df

       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0     0.889422   4766.865201         2       1.0
1     2.310209  12381.589746        30       1.0
2     2.740070  14685.431344         6       2.0
3     1.775545   9516.049939         1       1.0
4     0.732512   3925.907588         3       1.0
...        ...           ...       ...       ...
8398  0.306852   1644.574141         6       1.0
8399  2.501181  13405.104689         6       1.0
8400  1.382758   7410.905653         1       1.0
8401  0.343340   1840.132652         3       1.0
8402  1.088486   5833.750895         0       NaN

[8403 rows x 4 columns]

In [13]:
df.shape == (8403, 4)

True

In [14]:
df.head()

    POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0  0.889422   4766.865201         2       1.0
1  2.310209  12381.589746        30       1.0
2  2.740070  14685.431344         6       2.0
3  1.775545   9516.049939         1       1.0
4  0.732512   3925.907588         3       1.0

### la mÃ©thode pÃ©destre

In [25]:
df = pd.read_csv("television.txt", sep="\t")

In [16]:
def is_empty_column(df, colname):
    n = len(df[colname])
    if df[colname].isna().sum() == n :
        return True
    else :
        return False

In [19]:
col1 = 'POIDLOG'
not is_empty_column(df, col1)

True

In [20]:
col5 = 'Unnamed: 4'
is_empty_column(df, col5)

True

In [21]:
def liste_empty(df) :
    l = []
    for col in df.columns :
        if is_empty_column(df, col) == True:
            l.append(col)
    return l

In [22]:
empty_columns = liste_empty(df)
empty_columns

['Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31']

In [26]:
empty_columns = liste_empty(df)
df2 = df.drop(columns=empty_columns)
df2

       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0     0.889422   4766.865201         2       1.0
1     2.310209  12381.589746        30       1.0
2     2.740070  14685.431344         6       2.0
3     1.775545   9516.049939         1       1.0
4     0.732512   3925.907588         3       1.0
...        ...           ...       ...       ...
8398  0.306852   1644.574141         6       1.0
8399  2.501181  13405.104689         6       1.0
8400  1.382758   7410.905653         1       1.0
8401  0.343340   1840.132652         3       1.0
8402  1.088486   5833.750895         0       NaN

[8403 rows x 4 columns]

In [28]:
df2.shape == (8403, 4)

True

In [31]:
#...

In [30]:
df.shape == (8403, 4)

False

## obtenir les valeurs distinctes

### un `ndarray`

In [33]:
unique1 = pd.Series(df['cLT2FREQ']).unique()
unique1

array([ 1.,  2., nan,  3.])

In [34]:
unique1.sort()
np.all(unique1[:-1] == np.arange(1, 4)) and np.isnan(unique1[-1])

True

In [35]:
unique1.sort()
np.all(unique1 == np.array([1., 2., 3., np.nan]))
#car on ne considÃ¨re pas les 2 Nan comme identiques

False

In [36]:
unique1.sort()
unique1

array([ 1.,  2.,  3., nan])

### un ensemble

In [37]:
np.nan == np.nan

False

## compter les lignes Ã  nettoyer

In [38]:
nb_lines_to_clean = df['cLT2FREQ'].isna().sum()
nb_lines_to_clean

1017

In [39]:
nb_lines_to_clean == 1017

True

In [40]:
expected_lines = len(df) - nb_lines_to_clean
expected_lines

7386

## nettoyage des lignes

In [41]:
df = pd.read_csv("television.txt", sep="\t").dropna(axis='columns', how='all')
print(df.shape)

(8403, 4)

In [43]:
df.drop?

### option 2: sÃ©lection avec un masque et `[]`

In [46]:
df = pd.read_csv("television.txt", sep="\t").dropna(axis='columns', how='all')
print(df.shape)

(8403, 4)

In [47]:
df = df[~ df['cLT2FREQ'].isna()]

In [50]:
df.head(5)

    POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0  0.889422   4766.865201         2       1.0
1  2.310209  12381.589746        30       1.0
2  2.740070  14685.431344         6       2.0
3  1.775545   9516.049939         1       1.0
4  0.732512   3925.907588         3       1.0

In [51]:
df.shape == (7386, 4)

True

## sauver un fichier excel

In [52]:
filename = "television.xlsx"
df.to_excel(filename)